@font-face {
  font-family: 'iconfont';  /* project id 570373 */
  src: url('https://at.alicdn.com/t/font_570373_rm8hwkdhajrlik9.eot');
  src: url('https://at.alicdn.com/t/font_570373_rm8hwkdhajrlik9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_570373_rm8hwkdhajrlik9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_570373_rm8hwkdhajrlik9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_570373_rm8hwkdhajrlik9.svg#iconfont') format('svg');
}
.head{
	width: 100%;
	height: 80px;
	background-color: #fafafa;
}
.head_content{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
}
.head_left img{
	margin-top: 5px;
	margin-left: 8px;
	float: left;
}
.head_left p{
	font-size: 20px;	
	margin-top: 15px;
	color: #2b6c8c;
	float: left;
}
.head_right{
	width: 210px;
	height: 80px;
	float: right;
}
.search_kuang{
	width: 168px;
	height: 22px;
	border-radius: 10px;
	border: 1px solid #BFBFBF;
	margin-top: 26px;
	position: relative;
}
.search_kuang p{
	font-family: 'iconfont'; 
	font-size: 12px;
	line-height: 22px;
	position: absolute;
	right: 8px;
	color: #4D4D4D;
}
.head_mid{
	width: 600px;
	height: 80px;
	float: right;
	position: relative;
}
.head_mid a{
	font-size: 14px;
	margin-right: 40px;
	color: #474747;
	line-height: 80px;
	text-align: center;
}
.head_mid .head_mid_xuanzhong{
	color: #2b6c8c;
	margin-right: 30px;
}
.head_mid_xuanzhong .head_mid_zuo{
	position: absolute;
	top:27px;
	left:86px;
}
.head_mid_xuanzhong .head_mid_you{
	position: absolute;
	top:45px;
}
.anlibanner{
	width: 100%;
	height: 420px;
	background-color: red;
	background-image: url('../img/jianshe0.png');
	background-size: contain;
}
.neirong{
	width: 1200px;
	height: 420px;
	margin: 0 auto;
	position: relative;
}
.anli_mianbaoxie{
	width: 289px;
	height: 45px;
	background-color: #000;
	margin-top: 225px;
	float: left;
	border-right: 5px solid #f5c813;
	padding: 15px 30px;
}
.anli_mianbaoxie_left{
	width: 57px;
	height: 35px;
	float: left;
}
.anli_mianbaoxie_left p{
	width: 4px;
	height: 35px;
	border-left: 2px solid #fff;
	float: left;
	margin-top: 5px;
}
.anli_mianbaoxie_left_wenzi{
	color: #fff;
	font-size: 14px;
}
.anli_mianbaoxie_right{
	width: 156px;
	height: 35px;
	float: right;
}
.anli_mianbaoxie_right p{
	width: 4px;
	height: 35px;
	border-left: 2px solid #fff;
	float: left;
	margin-top: 5px;
}
.anli_mianbaoxie_mid{
	width: 16px;
	height: 4px;
	float: left;
	margin-top: 20px;
	margin-left: 25px;
	display: flex;
}
.anli_mianbaoxie_mid p{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #858587;
	margin-right: 2px;
	justify-content: space-between;
}
.anli_mianbaoxie_mid .anli_mianbaoxie_mid1{
	background-color: #cfcfd1;
}
.anli_mianbaoxie_mid .anli_mianbaoxie_mid2{
	background-color: #fff;
}
.neirong img{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.dabeijing{
	width: 100%;
	height: 520px;
	background-color: #2e6d8c;
	float: left;
}
.tuandui_top{
	width: 1000px;
	height: 1067px;
	margin: 0 auto;
	padding: 50px 100px 0;
}
.tuandui_top_content{
	width: 1000px;
	height: 473px;
}
.td_t_c_i1{
	float: left;
}
.td_t_c_i2{
	width: 236px;
	height: 225px;
	border: 1px solid #ededed;
	margin-left: 16px;
	float: left;
	margin-bottom: 19px;
	position: relative;
}
.td_t_c_i2:hover,.td_t_c_i1:hover{
	box-shadow: 0 0 10px 3px rgba(148,166,173,0.2);
}
.td_t_c_i2 img{
	float: left;
	height: 227px;
	width: 152px;
}
.td_t_c_i2 span{
	float: left;
	font-size: 14px;
	margin-top: 35px;
	margin-left: 15px;
}
.td_t_c_i2 h1{
	float: left;
	font-size: 20px;
	margin-left: 15px;
	font-weight: normal;
}
.tuandui_top_content_item2_xian_zuo{
	width: 27px;
	height: 1px;
	background-color: #2e2e2e;
	margin-top: 67px;
	margin-left: 15px;
	float: left;
}
.tan_img{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.tan_img:hover{
	opacity: 1;
}

.tuandui_top_content_item2_xian_you{
	width: 42px;
	height: 1px;
	background-color: #e5e5e5;
	float: left;
	margin-top: 67px;
}
.td_t_c_i2_js{
	font-size: 12px;
	color: #939393;
	float: left;
	position: absolute;
	right: 16px;
	bottom: 55px;
	width: 54px;
	height: 38px;
	border-top: 1px solid #e5e5e5;
	padding-top: 9px;
}
.td_t_c_i2_js:after {
    content: "";
    width: 28px;
    height: 1px;
    background: #2e2e2e;
    position: absolute;
    left: 0;
    bottom: 47px;
}
.td_t_c_i3{
	margin-left: 0;
}
.tuandui_top_content1{
	height: 473px;
	width: 762px;
	float: left;
}
.tuandui_top_content2{
	margin-top: 87px;
}
.tuandui_zhong_img{
	margin: 0 auto;
	display: block;
}
.tuandui_bottom{
	width: 1200px;
	height: 659px;
	margin: 0 auto;
	position: relative;
	padding-top: 58px;
}
.tuandui_bottom_title{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 34px;
}
.tuandui_bottom_content{
	width: 1200px;
	height: 503px;
	position: absolute;
	top: 199px;
}
.tuandui_bottom_item{
	width: 457px;
	height: 151px;
	margin-left: 92px;
	float: left;
	position: relative;
	margin-bottom: 44px;
}
.tuandui_bottom_item img{
	float: left;
}
.tuandui_bottom_item span{
	float: left;
	font-size: 36px;
	font-weight: normal;
	color: #767676;
	margin-left: 39px;
	margin-bottom: 27px;
	margin-top: 15px;
}
.tuandui_bottom_item p{
	width: 287px;
	height: 53px;
	font-size: 18px;
	font-weight: lighter;
	color: #777;
	position: absolute;
	right: 0;
	bottom: 23px;
}
.tuandui_bottom_shuzi{
	width: 1200px;
	height: 78px;
	position: absolute;
	bottom: 0;
}
.tuandui_bpttom_shuzi_content{
	width: 135px;
	height: 78px;
	margin-left: 542px;
	margin-bottom: 20px;
}
.tuandui_bpttom_shuzi_content p{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #e6e6e6;
	color: #757678;
	text-align: center;
	line-height: 25px;
	float: left;
	margin-right: 20px;
}
.tuandui_bpttom_shuzi_content .shuzi3{
	background-color: #2b6c8c;
	color: #fff;
}